*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header header"
    "nav content sidebar"
    "footer footer footer";
    min-height: 100vh;
}
header{
    grid-area: header;
    padding:2rem;
    background-color: #1e293b;
    color: white;
}

nav{
    grid-area: nav;
    padding: 2rem;
    background-color: #334155;
}

main{
    grid-area: content;
    padding: 2rem;
    background-color: #475569;
}
aside{
    grid-area: sidebar;
    padding: 2rem;
    background-color:#334155; 
}
footer{
    grid-area: footer;
    padding: 2rem;
    background-color:#1e293b; ;
    color: white;
}
.footer h1{
   margin-left: 280px;
}
